{%load static%}
{%load staticfiles%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
        <meta name="theme-color" content="#ffffff">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:600,700" rel="stylesheet">
        <title>Search Book</title>
        <style>
            body {
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
            }
        </style>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    </head>
    <body>
        {%if user.is_authenticated%}
        <header class = "m-3" style="display: flex;">
            <p id ="{{user.username}}">Hello, {{ user.username }}</p>
            <a style="color: black"href="{%url 'book:fav'%}"><i class="fas fa-star"></i></a><span id = "count">{{counter}}</span>
            <a href= "{% url 'logout'%}">Log Out</a>
        </header>
        {%else%}<header><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br></header>
        {%endif%}
        <div class="container">
            <div class="row">
                <h1>Search Book</h1>
                <div class="col-md-12">
                    <div class="text-center">
                        <form id="searchbook" method="POST" action= "{% url 'book:searchbook'%}">
                            {% csrf_token %}
                            {{form}}
                            <button class="btn btn-dark">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id = "result" class="table table-stripped">
                        
                    </table>
                </div>
            </div>
        </div>
        {%if data%}
        <script>
            var user = "{{ user.username }}"
            var result = JSON.parse("{{data|escapejs}}");
            $("#result").append("<thead><tr><th scope=\"col\">No</th><th scope=\"col\">Favorite</th><th scope=\"col\">Book</th><th scope=\"col\">Title</th><th scope=\"col\">Author</th></tr></thead><tbody>");
            for (i=0; i<result.items.length; i++) {
                var judult = "<td class=\"judul\">" + result.items[i].volumeInfo.title + "</td>";
                var authort = "<td class=\"author\">"+ result.items[i].volumeInfo.authors + "</td>";
                var nomor = "<tr id=\"item-"+ i+1 + "\">";
                var roww = "<th scope="+ "\"row\">" + (i+1) + "</th>";
                var star = "<td><i title=\"Favorite\" class=\"fav far fa-star\"></td>"
                var link = "<td><a target=\"_blank\" href=\""+ result.items[i].volumeInfo.infoLink + "\">"+ "<img src=\"" + result.items[i].volumeInfo.imageLinks.thumbnail + "\">" + "</a></td>"
                $("#result").append(nomor + roww + star + link + judult + authort + "</tr>");
                }
                $("#result").append("</tbody>");
        </script>
        {%endif%}
        <script src="{%static 'searchbook.js'%}"></script>
    </body>
</html>