{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
        <meta name="theme-color" content="#ffffff">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Subscribe to here-a</title>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
        
    </head>
    <body>
        <div class="container">
            <div class = "text-center  m-4">
                    <h1 class=" text-white" id="yyy"><a href="{%url 'app_story6:hi-here' %}" style="background-color:transparent;" ><span class="text-white" style="text-decoration:underline #A56AA3">Here-a</span></a> Subscribers</h1>
            </div>
                
            <div class="row">

                <div id= "allsubs"class="col-md-12">

                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                
                $.ajax({
                    url:"/allsubs",
                    method: 'GET',
                    dataType: 'html',
                    success: function(data){
                        var parse = JSON.parse(data); 
                        console.log(parse);
                        for(i = 0; i< parse.length; i++) {
                            var card = "<div id =\"" + parse[i].fields.email + "\" class=\"card\" style=\"width: 30rem;\"><div class=\"card-body-allsubs\"><h5 class=\"card-title\">" +parse[i].fields.name+ "</h5><button type=\"button\" class=\"unsubs btn btn-danger\">Unsubscribe</button></div></div>";
                            $("#allsubs").append(card);
                        }
                        $(".unsubs").each(function() {
                            $(this).click(function () {
                                var emailx = $(this).closest('.card').attr('id');
                                console.log(emailx); 
                                $.ajax({
                                    url:"/delsub",
                                    data: {email: emailx},
                                    method: 'POST',
                                    dataType: 'json',
                                    success: function() {
                                        swal({
                                            title: "Success",
                                            text: 'You can subscribe again later',
                                            type: 'success',
                                            showConfirmButton: false,
                                            timer: 2500
                                            }).then(function() {
                                                window.location = "/subscribers"
                                            });   
                                    }
                                });
                            }
                               
                            );
                        });
                    }
                });
            });
        
        </script>
    </body>
</html>
