{%load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <title>Landing Page</title>
    </head>
    <body style ="background-color: #edeff0" class= 'text-center'>
        <div class="container">
            <div class = "row">
                <div class= "col-3"></div>
                <div class= "col-6">
                    <h1>Hello, Apa kabar?</h1>
                    <form action="add_status" method="POST">
                        <div class="form-group">
                                {% csrf_token %}
                                {{ forms }}
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                    
                </div>
                <div class = "col-2"></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class='col-6'>
                    {% if all_stats %}
                    {% for stats in all_stats %}
                    <div class="flex-item">
                        <h2 style="color:#3e474f">{{stats.message}}</h2>
                        <p>at {{ stats.created_at }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
        
    </body>
</html>