{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129830132-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129830132-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
        <meta name="theme-color" content="#ffffff">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Hello, ini Hira</title>
        <script src="https://unpkg.com/bootstrap@4.0.0/dist/js/bootstrap.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
        
    </head>
    <body>
        <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="spinner"></div>
    </div> -->

        <div id = "fullpage" class="container-fluid">
             <header>
                    <nav class="navbar fixed-top navbar-expand-lg bg-tr">
                        <a class="navbar-brand" href="#"><img src="{% static 'favicon-white-32x32.png'%}"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                            <a class="nav-item nav-link current" href="#1">Home<span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="#2">Adventures</a>
                            <a class="nav-item nav-link" href="#3">What I Can Do</a>
                            <a class="nav-item nav-link" href="#4">Projects</a>
                            <a class="nav-item nav-link" href="#5">Contact Me</a>
                            </div>
                        </div>
                    </nav>
             </header>   
            <section class="section"id="1">
                
            <div class= "row" id="mobile">
                    <div class = "col-sm-4"></div>
                    <div class="profpic col-sm-4">  
                            <div class="align-center">
                                        <h5 >Hello, I'm</h5>
                                        <h1 >Fakhira Devina</h1>
                                        
                                        <h5>I make</h5>
                                        <h1>Django-based Web Application</h1>
                                        <h5 >Currently studying at</h5>
                                        <h1 >Fasilkom UI</h1>
                                        
                                        
                                        
                                        <h5 >Find me</h5>
                                        <div>
                                            <ul class="social-network social-circle">
                                                <li><a href="https://twitter.com/hiradevina" class="icoTwitter" title="Twitter" target="_blank" ><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://instagram.com/hiradevina" class="icoInstagram" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="https://gitlab.com/hiradevina" class="icoGitlab" title="Gitlab" target="_blank"><i class="fab fa-gitlab"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/fakhira-d-4497a3112/" class="icoLinkedIn" title="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div> 
                                        
                                
                        </div>

                        </div>

                <div id="desktop" class="row">
                    <div class="profpic p-0 col-md-4">
                        <img id= "me"title="calonnya ginting?!" src="https://i.imgur.com/x5YXUfx.jpg"/>  
                            
                        
                    </div>
                        <div class="prof col-8" id = "desc" >
                                <h5 >Hello, I'm</h5>
                                        <h1 >Fakhira Devina</h1>
                                        
                                        
                                        <h5>I make</h5>
                                        <h1>Django-based Web Application</h1>
                                        
                                        <h5 >Currently studying at</h5>
                                        <h1 >Fasilkom UI</h1>
                                
                                <h5 id ="find">Find me</h5>
                                <div id="soc">
                                    <ul class="social-network social-circle">
                                        <li><a href="https://twitter.com/hiradevina" class="icoTwitter" title="Twitter" target="_blank" ><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://instagram.com/hiradevina" class="icoInstagram" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://gitlab.com/hiradevina" class="icoGitlab" title="Gitlab" target="_blank"><i class="fab fa-gitlab"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/fakhira-d-4497a3112/" class="icoLinkedin" title="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                    
                                </div>
                                <br>
                                
                            
                    </div>
                    
                    
                </div>
        
                
                
            </section>
        <section id="2" class=" section mt-5 timeline">
            <br>
            <h2 class="text-center text-white">Adventures</h2>
            <ul>
                <li>
                    <div>
                        <time>2005</time>
                        SD Islam Al Azhar 20 Cibubur
                    </div>
                </li>
                <li>
                    <div>
                        <time>2011</time>
                        SMP Labschool Cibubur
                    </div>
                </li>
                <li>
                    <div>
                        <time>2014</time>
                        SMAN 2 Depok
                    </div>
                </li>
                
                <li>
                    <div>
                        <time>2017</time>
                        University of Indonesia - Faculty of Computer Science
                    </div>
                </li>
                <li>
                    <div>
                        <time>2018</time>
                        Wisuda Ganjil 2017/2018 - Creative Staff<br>
                        Compfest X - Visual Design Staff<br>
                        Wisuda Genap - Creative Staff<br>
                        PMB Fasilkom UI 2018 - Documentation Staff<br>
                        Open House Fasilkom UI 2018 - Danus dan Konsumsi<br>
                        Wisuda Ganjil 2018/2019 - Creative VPIC<br>  
                    </div>
                </li>
            </ul>
            
        </section>
          
        <section id="3" class="section skill"><br>
            <div class="text-center">
                <h2 class="text-white">What I Can Do</h2><br>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div title = "ms. office"class="row">
                            <div class="col-md-3 col-4">
                                
                                    <i class="fas fa-file-word fa-3x"></i>
                                    <i class="fas fa-file-powerpoint fa-3x"></i>
                                    <i class="fas fa-file-excel fa-3x"></i>
                                
                            </div>
                            <div class="col-md-9 col-8">
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div title="python"class="row">
                                <div class="col-md-3 col-4">
                                    
                                        <i class="fab fa-python fa-3x"></i>
                                    
                                </div>
                                <div class="col-md-9 col-8">
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                        </div>
                        <br>
                        <div title="java"class="row">
                                <div class="col-md-3 col-4">
                                    
                                        <i class="fab fa-java fa-3x"></i>
                                    
                                </div>
                                <div class="col-md-9 col-8">
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-6 col-12">
                        <div title="web frontend"class="row">
                            <div class="col-md-3 col-4">
                                    <i class="fab fa-html5 fa-3x"></i>
                                    <i class="fab fa-css3-alt fa-3x"></i>
                                    <i class="fab fa-js fa-3x"></i>
                            </div>
                            <div class="col-md-9 col-8">
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                    </div>
                    <br>
                    <div title="web backend"class="row">
                            <div class="col-md-3 col-4">
                                    <i class="fas fa-laptop-code fa-3x"></i>
                            </div>
                            <div class="col-md-9 col-8">
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                    </div>
                    <br>
                    <div title="Photoshop, Illustrator"class="row">
                            <div class="col-md-3 col-4">
                                <i class="fas fa-pen-fancy fa-3x"></i>
                            </div>
                            <div class="col-md-9 col-8">
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                    </div>
                    <br>
                    <div title="Video Editing"class="row">
                        <div class="col-md-3 col-4">
                            <i class="far fa-file-video fa-3x"></i>
                        </div>
                        <div class="col-md-9 col-8">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                </div>
                
                    </div>
                </div>
                
                
                
            </div>
            
        </section>  
        <section id="4" class="section">
            <br>
            <div class="text-center">
                <h2 class="text-white">Projects</h2>
            
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto">
                        <div id="landingpage" class="carousel-item col-12 col-md-4 active">
                            <div class="card" >
                                <img src="https://i.imgur.com/23HKdA5.jpg" class="card-img-top" title="Landing page">
                                <div class="card-body">
                                    <h5 class="card-title text-white">Landing page</h5>
                                    <p class="card-text text-white">Landing Page with add status feature</p>
                                <div>
                                    <button  class="goto"><a target="_blank"class="text-white" href="{% url 'app_story6:landingpage'%}">Landing Page</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="subscriber" class="carousel-item col-12 col-md-4">
                            <div class="card" >
                                    <img src="https://i.imgur.com/nHz1S37.jpg" class="card-img-top" title="Subscribe">
                                    <div class="card-body">
                                        <h5 class="card-title text-white">Subscriber</h5>
                                        <p class="card-text text-white">Register as Subscriber in Here-a</p>
                                    <div>
                                        <button  class="goto"><a target="_blank"class="text-white" href="{% url 'app_story6:subscribe'%}">Subscribe</a></button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div id="subscribers" class="carousel-item col-12 col-md-4">
                            <div class="card" >
                                <img src="https://i.imgur.com/eIdDH7Y.jpg" class="card-img-top" title="Subscribers">
                                <div class="card-body">
                                    <h5 class="card-title text-white">Subscribers</h5>
                                    <p class="card-text text-white">Registered subscribers in Here-a</p>
                                <div>
                                    <button  class="goto"><a target="_blank"class="text-white" href="{% url 'app_story6:subscribers'%}">Subscribers</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="searchbook" class="carousel-item col-12 col-md-4">
                            <div class="card" >
                                <img src="https://i.imgur.com/SgBytwJ.jpg" class="card-img-top" title="Searchbook">
                                <div class="card-body">
                                    <h5 class="card-title text-white">Search Book</h5>
                                    <p class="card-text text-white">Search book from keyword using GoogleBooks API</p>
                                <div>
                                    <button  class="goto"><a target="_blank" class="text-white" href="{% url 'book:searchbook'%}">Search Book</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ayobantu" class="carousel-item col-12 col-md-4">
                            <div class="card" >
                                <img src="https://i.imgur.com/hCl0kin.jpg" class="card-img-top" title="Ayo Bantu">
                                <div class="card-body">
                                    <h5 class="card-title text-white">AyoBantu</h5>
                                    <p class="card-text text-white">Crowdfunding Website</p>
                                <div>
                                    <button  class="goto"><a target="_blank" class="text-white" href="https://ayobantu.herokuapp.com">AyoBantu</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="places" class="carousel-item col-12 col-md-4">
                                <div class="card" >
                                    <img src="https://i.imgur.com/dLJls6K.jpg" class="card-img-top" title="My Blog">
                                    <div class="card-body">
                                        <h5 class="card-title text-white">Places</h5>
                                        <p class="card-text text-white">Place-inspired blog</p>
                                    <div>
                                        <button  class="goto"><a target="_blank" class="text-white" href="{% url 'places:awal'%}">Places</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center mt-4">
                            <a class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                                <i class="fa fa-lg fa-chevron-left"></i>
                            </a>
                            <a class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
                                <i class="fa fa-lg fa-chevron-right"></i>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <section id="5" class="section contact">
            <br>
            <div class="text-center text-white">
                <h2>Contact Me</h2>
                <div class="row">
                        <div class="module-wrap align-center col-xl-12 my-3"><div  class="goto-d"><a target="_blank" class="text-white" href="https://drive.google.com/open?id=1SXCwXMtGrWHgaNrfuE-1MUBSQcgoYntL">Download my CV</a></div></div>
                </div><div class="row">        
                        <div class="module-wrap align-center col-xl-12 my-3"><div  class="goto-d"><a target="_blank" class="text-white" href="mailto:fakhiradevina@gmail.com">Email</a></div></div>
                    </div>
                </div>
                
            </div>
        </section>
        </div>
        
        <script src="{% static 'funct.js' %}"></script>
    </body>
</html>
