{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
        <meta name="theme-color" content="#ffffff">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Subscribe to here-a</title>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    </head>
    <body >
        
        <div class ="container">
            <h1 class="text-center text-white m-2"id="title">Subscribe to <a href="{%url 'app_story6:hi-here' %}" class="text-white"style="background-color:transparent;" ><span style="text-decoration:underline #A56AA3">Here-a</span></a></h1>
            <div class="row m-5">
                <div class="col-md-4"></div>
                
                <div class="col-md-4" id="subscribepage">
                    <form method="POST">
                        <div class="form-group">
                            {%csrf_token%}
                            {{forms}}
                        </div>
                        <button id= "submit_subscribe" disabled= "disabled" type="submit" class = "btn btn-dark">Subscribe</button>
                        
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
        <script src="{%static 'subscribe.js'%}"></script>
    </body>
</html>