h1 {
    font-family: 'Roboto Condensed', sans-serif;
}
p, a {
    font-family: 'Roboto', sans-serif;
    color: black!important;
}
img {
    filter: grayscale(100%);
}
img:hover {
    filter: grayscale(0%);
    transition: 0.5s;
}