body {
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}
#me {
  min-height: 100%;
  margin-bottom: -10px;
  position: sticky;
}

a {
  background-color: none;
}
.hvr {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

h5 {
  font-weight: 700;
}

h1 {
  font-weight: 600;
  background:linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}

#title {
  display: block;
  -webkit-text-fill-color: unset;
  background: transparent;
}
#soc {
  display: none;
}
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: flex;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoInstagram:hover{
  background-color:linear-gradient(to right, #feda75, #ffa26c, #ff6c8a, #d152b6, #4f5bd5);
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}
.cc {
  margin-left: 0px;
  padding-top: 10px;
}
h6 {
  background:linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
#desc {
  margin-top: 150px;
  margin-left: -100px;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    width: inherit;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

#preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #preloader .spinner {
      width: 40px;
      height: 40px;
      background-color: #051937;
      margin: auto;
      -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
      animation: sk-rotateplane 1.2s infinite ease-in-out; }
  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
      transform: perspective(120px); }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
      transform: perspective(120px) rotateY(180deg); }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
      transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
  @keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
      transform: perspective(120px); }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
      transform: perspective(120px) rotateY(180deg); }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
      transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
  