body {
    background-color: #10171e;
		font-family: 'Raleway', sans-serif;
		color: #243447;
}

.bg-tr {
	background: transparent;
}

.navbar a {
	color: white;
}
#me {
  /* min-height: 100%; */
  margin-bottom: -10px;
  position: sticky;
  
}

.contact {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.card-body {
	background-color: #243447;
}
.card {
	width: 22rem;
	border: 1px solid #243447;
}
.progress-bar {
	background-image: linear-gradient(to right top, #42e695, #00ca9a, #00ae98, #00928e, #0d767c);
}
.goto {
	border-image: linear-gradient(to left, #42e695 0%, #0d767c 100%);
    border-image-slice: 1;
		border-width: 3px;
		background: transparent;
}
.module-wrap {
  max-width: 12rem;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to left, #42e695 0%, #0d767c 100%);
  padding: 3px;
}
.goto-d {
	background: #10171e;
	padding: 1rem;
}
.progress {
	background-color: #243447;
}
a {
  background-color: transparent;
}

h1, h6 {
  font-weight: 700;
  
}
a {
  background-color: none;
}

h5 {
  font-weight: 700;
  font-size: 2rem;
}


h1 {
 color:#f5f5f5;
 font-size: 3.5rem;
}
h6 {
  font-size: 2rem;
	color: #f5f5f5
	;
}

#title {
  display: block;
  -webkit-text-fill-color: unset;
  background: transparent;
}
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: flex;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoInstagram:hover{
  background-image: linear-gradient(to right bottom, #405de6, #d84fbf, #ff6c8d, #ffa470, #ffdc80);
}

.social-network a.icoGitlab:hover{
	background-image: linear-gradient(to right, #e24329, #eb5d25, #f27522, #f88d22, #fca326);
}


.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i, .social-network a.icoInstagram:hover i{
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


.cc {
  margin-left: 0px;
  padding-top: 10px;
}

#desc {
  margin-top: 50px;
  margin-left: -100px;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    width: inherit;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion {
    background-color: #243447;
    color: #f5f5f5;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

#preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #preloader .spinner {
      width: 40px;
      height: 40px;
      background-color: #051937;
      margin: auto;
      -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
      animation: sk-rotateplane 1.2s infinite ease-in-out; }
  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
      transform: perspective(120px); }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
      transform: perspective(120px) rotateY(180deg); }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
      transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
  @keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
      transform: perspective(120px); }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
      transform: perspective(120px) rotateY(180deg); }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
      transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
#mobile {
  display: none;
}
.active {
	background-color: transparent;
}
.card-body {
	height: 14vw;
}
#mobile h1 {
  font-size: 3rem;
  background-color: transparent;
  display: flex;
}
#mobile h5 {
  font-size: 2rem;
}
#mobile h6 {
  font-size: 1.5rem;
  color: #f5f5f5;
}

#mobile .profpic {
  margin-top: 180px;
  margin-left: 50px;
}

#mobile .accordion {
  background-color: transparent;
  border:2px solid white;
}

#title {
  color: black;
}

#yyy {
  color: black;
  display: block;
  background-color: transparent;
}

#subscribepage {
  background-image: linear-gradient(to right top, #42e695, #00ca9a, #00ae98, #00928e, #0d767c);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  padding: 30px;
  border-radius: 2rem;
}

h3 {
  font-family: 'Raleway', sans-serif;
}
.skill {
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.navbar-nav .current {
	background-image: linear-gradient(to right top, #42e695, #00ca9a, #00ae98, #00928e, #0d767c);
	border-radius: 1rem;
}
.timeline ul{
	padding-top: 3px;
	color: #f5f5f5;
}	 

	.timeline ul li {
	  list-style-type: none;
	  position: relative;
	  width: 6px;
	  margin: 0 auto;
	  padding-top: 50px;
	  background-color: #243447;
	}
	 
	.timeline ul li::after {
	  content: '';
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  transform: translateX(-50%);
	  width: 30px;
	  height: 30px;
	  border-radius: 50%;
	  background: inherit;
	}
	 
	.timeline ul li div {
	  position: relative;
	  bottom: 0;
	  width: 400px;
	  padding: 15px;
	  background: #243447;
	}
	 
	.timeline ul li div::before {
	  content: '';
	  position: absolute;
	  bottom: 7px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	}
	 
	.timeline ul li:nth-child(odd) div { left: 45px; }
	 
	.timeline ul li:nth-child(odd) div::before {
		left: -15px;
		border-width: 8px 16px 8px 0;
	  border-color: transparent #243447 transparent transparent;

	 
	}
	 
	.timeline ul li:nth-child(even) div { left: -439px; }
	 
	.timeline ul li:nth-child(even) div::before {
		right: -15px;
		border-width: 8px 0px 8px 16px;
	  border-color: transparent transparent transparent #243447;

	  
	}
	 
	time {
	  display: block;
	  font-size: 1.2rem;
	  font-weight: bold;
	  margin-bottom: 8px;
	}
.timeline ul li::after { transition: background .5s ease-in-out; }
	 
	.timeline ul li.in-view::after { background-image: linear-gradient(to right top, #42e695, #00ca9a, #00ae98, #00928e, #0d767c); }
	 
	.timeline ul li div {
	  visibility: hidden;
	  opacity: 0;
	  transition: all .5s ease-in-out;
	}
	 
	.timeline ul li:nth-child(odd) div { transform: translate3d(200px, 0, 0); }
	 
	.timeline ul li:nth-child(even) div { transform: translate3d(-200px, 0, 0); }
	 
	.timeline ul li.in-view div {
	  transform: none;
	  visibility: visible;
	  opacity: 1;
	}
@media screen and (max-width: 900px) {
	 
	.timeline ul li div { width: 250px; }
	 
	.timeline ul li:nth-child(even) div { left: -289px; /*250+45-6*/
	}
	}
	 
	@media screen and (max-width: 600px) {
	 
	.timeline ul li { margin-left: 20px; }
	 
	.timeline ul li div { width: calc(100vw - 91px); }
	 
	.timeline ul li:nth-child(even) div { left: 45px; }
	 
	.timeline ul li:nth-child(even) div::before {
	  left: -15px;
	  
	  border-width: 8px 16px 8px 0;
  	border-color: transparent #243447 transparent transparent;

	
	}
	}
	
	@media screen and (min-width: 768px) {
		.carousel-inner .active,
		.carousel-inner .active+.carousel-item {
			display: block;
		}
		.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
		.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
			-webkit-transition: none;
			transition: none;
		}
		.carousel-inner .carousel-item-next,
		.carousel-inner .carousel-item-prev {
			position: relative;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		.carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
			position: absolute;
			top: 0;
			right: -50%;
			z-index: -1;
			display: block;
			visibility: visible;
		}
		/* left or forward direction */
		.active.carousel-item-left+.carousel-item-next.carousel-item-left,
		.carousel-item-next.carousel-item-left+.carousel-item {
			position: relative;
			-webkit-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0);
			visibility: visible;
		}
		/* farthest right hidden item must be abso position for animations */
		.carousel-inner .carousel-item-prev.carousel-item-right {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			display: block;
			visibility: visible;
		}
		/* right or prev direction */
		.active.carousel-item-right+.carousel-item-prev.carousel-item-right,
		.carousel-item-prev.carousel-item-right+.carousel-item {
			position: relative;
			-webkit-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);
			visibility: visible;
			display: block;
			visibility: visible;
		}
		
	}
	
	/* Desktop and up */
	
	@media screen and (min-width: 992px) {
		.carousel-inner .active,
		.carousel-inner .active+.carousel-item,
		.carousel-inner .active+.carousel-item+.carousel-item {
			display: block;
		}
		.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
		.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
		.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
			-webkit-transition: none;
			transition: none;
		}
		.carousel-inner .carousel-item-next,
		.carousel-inner .carousel-item-prev {
			position: relative;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		.carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
			position: absolute;
			top: 0;
			right: -33.3333%;
			z-index: -1;
			display: block;
			visibility: visible;
		}
		/* left or forward direction */
		.active.carousel-item-left+.carousel-item-next.carousel-item-left,
		.carousel-item-next.carousel-item-left+.carousel-item,
		.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
		.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
			position: relative;
			-webkit-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0);
			visibility: visible;
		}
		/* farthest right hidden item must be abso position for animations */
		.carousel-inner .carousel-item-prev.carousel-item-right {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			display: block;
			visibility: visible;
		}
		/* right or prev direction */
		.active.carousel-item-right+.carousel-item-prev.carousel-item-right,
		.carousel-item-prev.carousel-item-right+.carousel-item,
		.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
		.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
			position: relative;
			-webkit-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);
			visibility: visible;
			display: block;
			visibility: visible;
		}
	}
	
	@media screen and (max-width:768px) {
		.card-body {
			height: 50vw;
		}
		.card {
			width: initial;
		}
	} 
	

