{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129830132-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129830132-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'places.css'%}">
        <title>places.</title>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <header class="text-right">
                {%if user.is_authenticated%}
                <a href="{%url 'logout'%}">logout</a>
                {%else%}
                <a href="{% url 'social:begin' 'google-oauth2' %}">login</a>
                {%endif%}
            </header>
            <div class="text-center p-3">
                <h1>places that echo your name</h1>
                <p id="subtitle">raw thoughts, its either i don't mention it or i told the whole truth.
                they're online because it's a platform for myself to heal, and as a lesson on how i (will hopefully)
                recover from a past event. </p>
            </div>
            <div class="row">
                {%if user.is_authenticated%}
                    {%for i in places%}
                    <div class="col-12 col-md-4 p-3">
                        <a href="/places/{{i.place}}">
                            <img src="{{i.img}}" title="{{i.place}}" class="img-fluid">
                        </a>  
                    </div>
                    {%endfor%}
                {%endif%}
            </div>
            
        </div>
        
    </body>
</html>