{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129830132-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129830132-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'places.css'%}">
        <title>places: {{program.place}}</title>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="text-center p-3">
                <a href="{% url 'places:awal'%}">
                    <h1>places: {{program.place}}</h1>
                </a>  
            </div>
            
            <div id="things" class="row p-5">
                <div class="col-md-4 p-0">
                    <img class="img-fluid position-sticky" src="{{program.img}}">
                </div>
                <div class="col-md-8">
                    <p>{{program.desc}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <div class="text-center">
                                <p>at {{program.date_modified}}</p>
                            </div>
                </div>
                
                
            </div>
        </div>
    </body>
</html>