body {
    background-color: #f5f5f5;
}
img {
   width: 100%; 
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

#preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #preloader .spinner {
      width: 40px;
      height: 40px;
      background-color: #F27A54;
      margin: auto;
      -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
      animation: sk-rotateplane 1.2s infinite ease-in-out; }
  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
      transform: perspective(120px); }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
      transform: perspective(120px) rotateY(180deg); }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
      transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
  @keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
      transform: perspective(120px); }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
      transform: perspective(120px) rotateY(180deg); }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
      transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
  